.bg-green {
  background-color: #0b4619;
}
.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none;
  width: 100%; /* Full width (cover the whole page) */
  height: 100vh; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.custom-button {
  background-color: #5abb53;
  color: white;
}
.custom-button:hover {
  color: white;
  background-color: rgb(21, 89, 21);
}
.text-green {
  color: #073511;
}
.css-h0gpo1-ToastElement {
  z-index: 1000000099;
}
.react-toast-notifications__container {
  z-index: 9999999999999999;
}
.css-nvf14r-ToastContainer {
  z-index: 9999999999999999;
}
